{% extends 'layout.html' %}
{% block titulo %} INDEX BARRIOS {% endblock %}
{% block section %}
<div class="card text-start">
    <div class="card-body">
        <h4 class="card-title">Barrios</h4>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="crearbar">
                <p class="card-text mb-0">
                    <a name="" id="" class="btn btn-success" href="{% url 'crearbarrio' %}" role="button">Inscribir Barrio</a>
                </p>
            </div>
            <div class="barrbus">
                <div class="input-group">
                    <input type="text" id="searchInput" placeholder="Buscar en todos los campos" class="form-control" aria-label="Buscar en todos los campos">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </div>

        <!-- Selector de registros por página -->
        <div class="mb-3">
            <label for="recordsPerPageBarrios">Mostrar</label>
            <select id="recordsPerPageBarrios" class="form-select w-auto d-inline">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
            <label for="recordsPerPageBarrios">registros</label>
        </div>

        <div class="table-responsive">
            <table id="tablaBarrios" class="table table-striped table-borderless table-primary align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Barrio</th>
                        <th>Zona</th>
                        <th>Opciones</th> 
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for barrio in barrios %}
                    <tr class="table-primary">

                        <td>{{ barrio.barrio }}</td>
                        <td>{{ barrio.get_zona_display }}</td>
                        <td>
                            <a name="editar" id="" class="btn btn-outline-primary" href="{% url 'editarbarrio' barrio.id %}" role="button">Editar</a>
                            <a name="eliminar" id="eliminar_{{ barrio.id }}" class="btn btn-outline-danger" href="#" role="button">Eliminar</a>
                        </td>
                    </tr>
                    <script>
                        document.getElementById('eliminar_{{ barrio.id }}').addEventListener('click', function() {
                            if (confirm('¿Estás seguro de que deseas eliminar este barrio?')) {
                                window.location.href = "{% url 'eliminarbarrio' barrio.id %}";
                            }
                        });
                    </script>
                    {% endfor %} 
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
        <div  id="paginationBarrios" class="mt-3 d-flex justify-content-end"></div>
    </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

{% endblock %}