{% extends 'layout.html' %}

{% block titulo %}
CREAR SUSCRIPTOR
{% endblock %}


{% block section %}
<div class="form-container">
 <div class="form-background">
  <div class="card text-start">
    <div class="card-body">
        <h4 class="card-title">Crear Suscriptor</h4>
        <p class="card-text">
            <form enctype="multipart/form-data" method="post">
              {% csrf_token %}
              <fieldset>
                <div class="row mb-2">
                  <div class="form-group col-md-6">
                    <label class="form-label">Primer Nombre </label> 
                    <input type="text" name="primer_nombre" class="form-control" id="id_primer_nombre" required>
                  </div>
                  
                 <!-- Segundo nombre -->
                  <div class="form-group col-md-6">
                    <label class="form-label" >Segundo nombre</label>  
                    <input type="text" name="segundo_nombre" class="form-control" id="id_segundo_nombre" required>
                  </div>
                
                </div>
                
               
            
               <div class="row mb-2">
                 <!-- Primer apellido -->
                  <div class="form-group col-md-6">
                    <label class="form-label" >Primer apellido</label>  
                    <input type="text" name="primer_apellido" class="form-control" id="id_primer_apellido" required>
                   
                  </div>
                 
                
                 <!-- Segundo apellido -->
                  <div class="form-group col-md-6">
                    <label class="form-label" >Segundo apellido</label>  
                    <input type="text" name="segundo_apellido" class="form-control" id="id_segundo_apellido" required>
                  </div>
               </div>

                <div class="form-group col-md-6">
                  <label class="form-label" for="direccion_IMAGEN">Imagen</label>
                  {{ form.direccion_IMAGEN }}
                  <div class="help-text">{{ form.direccion_IMAGEN.errors }}</div>
                  
                </div>
              
                <!-- Barrio -->
                <div class="form-group">
                    <label class="form-label" for="barrio">Barrio</label>
                    <div class="col-md-4">
                        <select name="{{ form.barrio.name }}" class="form-control">
                            {% for barrio in barrios %}
                            <option value="{{ barrio.pk }}">{{ barrio.barrio }}</option>
                            {% endfor %}
                        </select>
                        <div class="col-12 help-text">{{ form.barrio.errors }}</div>
                    </div>
                </div>

                <!-- Estrato socioeconómico -->
                <div class="form-group">
                    <label class="form-label" for="Estrato_socioeconomico">Estrato socioeconómico</label>
                    <div class="col-md-4">
                        <select name="{{ form.Estrato_socioeconomico.name }}" class="form-control">
                            {% for value, label in form.Estrato_socioeconomico.field.choices %}
                            <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                        <div class="col-12 help-text">{{ form.Estrato_socioeconomico.errors }}</div>
                    </div>
                </div>

                <!-- Uso -->
                <div class="form-group">
                    <label class="form-label" for="Uso">Uso</label>
                    <div class="col-md-4">
                        <select name="{{ form.Uso.name }}" class="form-control">
                            {% for value, label in form.Uso.field.choices %}
                            <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                        <div class="col-12 help-text">{{ form.Uso.errors }}</div>
                    </div>
                </div>

                <input name="" id="" class="btn btn-primary" type="submit" value="Guardar">
              </fieldset>
            </form>
        </p>
    </div>
  </div>
 </div>
</div>
{% endblock %}