{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base Template{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/lay.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/suscriptor_micromedidor/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/logotipo.png' %}" width="100" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            {% if perms.lecturas.view_barrio %}
                                <a class="nav-link text-dark" href="{% url 'indexbarrio' %}">Barrios</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'indexsuscriptor' %}">Suscriptor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'indexlectura' %}">Lectura</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'indexmicromedidor' %}">Micromedidor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'indexsuscriptorMicromedidor' %}">Propietario Micromedidor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'informe' %}">Reportes</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'historial_lecturas' %}">Historial lecturas</a> 
                          </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'exit' %}">Salir</a>
                        </li>
                    {% endif %}
                </ul>
                {% if request.user.is_authenticated %}
                    <span class="navbar-text ms-auto">
                        <i class="fas fa-user"></i> {{ request.user.username }} {{ request.user.first_name }}
                    </span>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"></script>
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>
</html>
