{% extends 'nav.html' %}

{% load static %}

{% block title %}Suscriptores de Micromedidores{% endblock %}

{% block content %}
<body>
    <div class="container mt-4">
        <div class="card text-start">
            <div class="card-body">
                <h4 class="card-title text-center mb-4">Propietario Micromedidor</h4>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="rectangle-black">
                        {% if perms.lecturas.add_suscriptormicromedidor %}
                            <a class="btn btn-success mb-3" href="{% url 'crearsuscriptormicromedidor' %}" role="button">Asignar Medidor</a>
                        {% endif %}
                    </div>
                    <div class="rectangle-pink">
                        <div class="search-bar input-group">
                            <input type="text" id="searchInput" class="form-control" placeholder="Buscar por NUID o Nombre de Usuario">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="searchButton"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="suscriptores-container">
                    {% for suscriptor_micromedidor in suscriptormicromedidor %}
                    <div class="col-md-3 mb-4 suscriptor-card" data-url="{% url 'crearlectura' %}">
                        <div class="card">
                            <img src="{{ suscriptor_micromedidor.suscriptor.direccion_IMAGEN.url }}" class="card-img-top" alt="Imagen del suscriptor">
                            <div class="card-body">
                                <h5 class="card-title">NUID: {{ suscriptor_micromedidor.micromedidor.nuid }}</h5>
                                <p class="card-text">
                                    {{ suscriptor_micromedidor.suscriptor.primer_nombre }} 
                                    {{ suscriptor_micromedidor.suscriptor.segundo_nombre }} 
                                    {{ suscriptor_micromedidor.suscriptor.primer_apellido }}<br>
                                    {{ suscriptor_micromedidor.suscriptor.barrio.barrio }}
                                </p>
                                <a href="{% url 'editarsuscriptormicromedidor' suscriptor_micromedidor.id %}" class="btn btn-outline-secondary">Editar</a>
                                {% if perms.lecturas.delete_suscriptormicromedidor %}
                                <a id="eliminar_{{ suscriptor_micromedidor.id }}" class="btn btn-outline-dark" href="{% url 'eliminarsuscriptormicromedidor' suscriptor_micromedidor.id %}" role="button">Eliminar</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <script>
                        document.getElementById('eliminar_{{ suscriptor_micromedidor.id }}').addEventListener('click', function(event) {
                            event.stopPropagation();
                            if (confirm('¿Estás seguro de que deseas eliminar este suscriptor de micromedidor?')) {
                                window.location.href = "{% url 'eliminarsuscriptormicromedidor' suscriptor_micromedidor.id %}"; 
                            }
                        });
                    </script>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/suscriptor_micromedidor/busqueda.js' %}"> </script>
</body>
{% endblock %}
