{% extends 'layout.html' %}
{% block titulo %} CREAR MICROMEDIDOR {% endblock %}
{% block section %}
<div class="form-container">
  <div class="form-background">
   <div class="card text-start">
    <div class="card-body">
        <h4 class="card-title">Crear Micromedidor</h4>
        <div class="mb-3">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="col-md-4 form-group">
                     <label class="form-label font-weight-bold">NUID:</label>
                     <input type="text" class="form-control {% if formulario.nuid.errors %} is-invalid {% endif %}" name="nuid" value="{{ formulario.nuid.value }}" required> 
                     {% if formulario.nuid.errors %}
                        <div class="invalid-feedback">{{ formulario.nuid.errors }}</div>
                     {% endif %}
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                     <label class="form-label font-weight-bold">Medidor:</label>
                     <input type="text" class="form-control {% if formulario.medidor.errors %} is-invalid {% endif %}" name="medidor" value="{{ formulario.medidor.value }}" required> 
                     {% if formulario.medidor.errors %}
                        <div class="invalid-feedback">{{ formulario.medidor.errors }}</div>
                     {% endif %}
                     
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label font-weight-bold">Fecha de Instalación:</label>
                        <input type="date" class="form-control" name="fecha_instalacion" value="{{ formulario.fecha_instalacion.value }}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
 </div>
</div>
{% endblock %}
